<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/registrationCardLayout/css/custom-display.css"/>
<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/registrationCardLayout/css/custom-print.css"
      media="print"/>
<div class="placeholder-text" style="font-size: 14px;">
    <h2 class="section-title">{{config.title}}</h2>
    <div >
        <table>
            <tr style="border: none">
                <td  style="font-weight: bold;max-width: 35%;">Ward No</td>
                <td  style="border: none;max-width: 65%;">{{wardName}}</td>

            </tr>
            <tr style="border: none">
                <td style="font-weight: bold;max-width: 35%;">Room</td>
                <td style="border: none;max-width: 65%;">{{roomName}}</td>

            </tr>
            <tr style="border: none">
                <td style="font-weight: bold;max-width: 35%;">Cabin / Bed No</td>
                <td style="border: none;max-width: 65%;">{{bedNumber}}</td>

            </tr>
            <tr style="border: none">
                <td style="font-weight: bold;max-width: 35%;">Admission Date</td>
                <td style="border: none;max-width: 65%;">{{admissionDate | bahmniDate}}</td>

            </tr>
            <tr style="border: none">
                <td style="font-weight: bold;max-width: 35%;">Release Date</td>
                <td style="border: none;max-width: 65%;"><span
                        ng-if='releaseDate !="" '>{{releaseDate | bahmniDate}}</span>
                <span ng-if='releaseDate =="" ' style="color: red;font-size: 16px;">Not Discharged yet</span></td>

            </tr>
        </table>
    </div>
</div>