<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/registrationCardLayout/css/custom-display.css"/>
<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/registrationCardLayout/css/custom-print.css"
      media="print"/>
<div class="placeholder-text" style="font-size: 14px;">
    <h2 class="section-title">{{config.title}}</h2>
    <table>
        <tr style="border: none">
            <td width="25%" style="border: none">Ward No</td>
            <td width="30%" style="border: none">{{bedDetails.wardName}}</td>
            <td width="45%" style="border: none"></td>
        </tr>
        <tr style="border: none">
            <td width="25%" style="border: none">Room No</td>
            <td width="30%" style="border: none">{{bedDetails.physicalLocationName}}</td>
            <td width="45%" style="border: none"></td>
        </tr>
        <tr style="border: none">
            <td width="25%" style="border: none">Cabin / Bed No</td>
            <td width="30%" style="border: none">{{bedDetails.bedNumber}}</td>
            <td width="45%" style="border: none"></td>
        </tr>
        <tr style="border: none">
            <td width="25%" style="border: none">Admission Date</td>
            <td width="30%" style="border: none">{{visitSummary.admissionDetails.date | bahmniDateTime}}</td>
            <td width="45%" style="border: none"></td>
        </tr>
        <tr style="border: none">
            <td width="25%" style="border: none">Release Date</td>
            <td width="30%" style="border: none">{{releaseDate | bahmniDateTime}}</td>
            <td width="45%" style="border: none"></td>
        </tr>
        <tr style="border: none">
            <td width="25%" style="border: none">Doctor Name</td>
            <td width="30%" style="border: none"></td>
            <td width="45%" style="border: none"></td>
        </tr>
    </table>
</div>