<style>
    #barcode {
        width: 2.2cm;
        height: 18px;
        margin-top: 5px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 3px;
        margin-right: 0px;
        float: right;
    }
</style>
<div class="container placeholder-text "
     style="background-color: gainsboro;height: 30px; line-height: 30px; font-size: 12px;">
    <span>Name: {{patient.name}}</span>&nbsp;|&nbsp;
    <span>Patient ID: {{patient.identifier}}</span>&nbsp;|&nbsp;
    <span>Gender: {{patient.gender}}&nbsp;|&nbsp;
        <!-- <span ng-if="patient.gender == 'M' ">Male&nbsp;|&nbsp;</span>
         <span ng-if="patient.gender == 'F' ">Female&nbsp;|&nbsp;</span>
         <span ng-if="patient.gender == 'O' ">Other&nbsp;|&nbsp;</span>-->
    </span>
    <span>Age: {{patient.age}} Y </span>
    <span><img id="barcode"
               jsbarcode-value="{{patient.identifier}}"
               jsbarcode-width="2"
               jsbarcode-height="35"
               jsbarcode-margin="0"
               jsbarcode-displayValue="false"
               jsbarcode-textAlign="left"
               jsbarcode-textMargin="0"
               jsbarcode-fontSize="4"
    /></span>
    <br><br>
</div>

<script type="text/javascript" src="/bahmni_config/openmrs/apps/JsBarcode.all.min.js"></script>
<script>
    (function () {
        JsBarcode("#barcode").init();
    })();
</script>