<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/registrationCardLayout/css/custom-display.css" />
<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/registrationCardLayout/css/print.css"/>
<br><br><br>
<div class="footer-summary-container placeholder-text" style="padding-bottom: 20px;">
    <div class="fr">
        ...........................<br>
      <span style="font-weight: bold">{{providerName}}<br></span>
      <span>{{providerDesignation}}<br></span>
   </div>
    <br><br>
</div>
	

