<div class="container" style="overflow: hidden">
    <div style="width:38%; float: left">
        <table>
            <tr>
                <div style="padding-top: 10px">
                    <div style="padding-bottom: 3px">
                        <chief-complaint-template></chief-complaint-template>
                    </div>
                </div>
            </tr>
            <tr>
                <div style="padding-top: 10px">
                    <div style="padding-bottom: 3px">
                        <physical-examination-template></physical-examination-template>
                    </div>
                </div>
            </tr>
            <tr>
                <div style="padding-top: 10px">
                    <div style="padding-top: 3px">
                        <clinical-diagnosis-template></clinical-diagnosis-template>
                    </div>
                </div>
            </tr>
            <tr>
                <div style="padding-top: 10px">
                    <div style="padding-top: 3px">
                        <investigation-template></investigation-template>
                    </div>
                </div>
            </tr>
        </table>
    </div>
    <div style="width:60%; float: right">
        <table>
            <tr>
                <div style="padding-top: 10px">
                    <div style="padding-top: 5px">
                        <medication-template></medication-template>
                    </div>
                </div>
            </tr>
            <tr>
                <div style="padding-top: 10px">
                    <div style="padding-top: 3px; font-size: 16px">
                        <advice-template></advice-template>
                    </div>
                </div>
            </tr>
        </table>
    </div>
</div>