<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/registrationCardLayout/css/custom-display.css"/>
<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/registrationCardLayout/css/print.css"/>
<br><br><br>
<div class="footer-summary-container placeholder-text">
    <div class="fl">
        {{curDate | bahmniDateTime}}


    </div>
    <div class="fr">
        ...........................<br>
        <span style="font-weight: bold">{{providerName}}<br></span>
        <span ng-if="providerDesignation">{{providerDesignation}},</span> <span ng-if="providerOrganization"> {{providerOrganization}}<br></span>
    </div>
    <br><br>
    <br><br>
    <br><br>
</div>
	

