<div class="container" style="padding-top:2px;">
    <div style="width:70%; float:left;">
        <img src="/bahmni_config/openmrs/apps/registration/registrationCardLayout/images/registrationCardHeader.png"
             style="width: 400px; height: 100px;"/>
    </div>
    <div style="width:25%; float: right;padding-top: 10px;">
        <img src="/bahmni_config/openmrs/apps/registration/registrationCardLayout/images/logo.png"
             style="width: 100px; height: 80px; "/>
    </div>
</div>
<!--
<div style="padding-top: 2px">
    <h1 style="font-size: 25px; font-weight: bold">{{config.title}}</h1>
    <h2 ng-if="config.subTitle" style="padding-top: 25px; font-size: 17px; font-weight: bold">{{config.subTitle}}</h2>
</div>-->
